<% layout('layouts/boilerplate')%>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-basic.css"/>
</head>

<div class="row">
    <div class="col-6 offset-3">        
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= poolfund.name%></h5>
                <p class="card-text"><%= poolfund.paymentInterval%></p>
                <p class="card-text"><%= poolfund.wallet_addres %> </p>
            </div>
        <h3>Members</h3>
        <ul>
            <% for( let member of poolfund.members ) { %>
                <div class="card mb-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text"><%= member.name %></li>
                    </ul>
                </div>
            <% } %>
        </ul>
    </div>
    
</div>
<script >
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
</script>